.general-main {
    display: flex;
    flex-direction: row-reverse;
    max-width: var(--content-range);
    margin: auto;
    height: 33.75rem;
    margin-top: 4%;
    margin-bottom: 4%;
    gap: 2rem; 
}

.main-content {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
}

.login-card {
    background: var(--white);
    min-width: 24rem;
    max-width: 24rem;
    border-radius: 1rem;
}

.image-call {
    width: 100%;
    height: 33.75rem;
    object-fit: cover;
    border-radius: 1rem;
}